[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
[submodule "external/raygui"]
	path = external/raygui
	url = https://github.com/raysan5/raygui
[submodule "external/mlib"]
	path = external/mlib
	url = https://github.com/P-p-H-d/mlib
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
